*.jpg
*.png
*.pkl
*.npy
*.ckpt
.backup/*
study/*
.vscode/*
*.log
*.pdf
ckpt
logs
*.pyc
**/**.pyc
**.pyc
**__pycache__/*
__pycache__
**/log/**
*.swp
test_logs
study/*
.tmp/*
tmp_moco/*
.idea
*~
*.~
figs
**/.~**
plot**
.cenv
env/**
